.button {
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  line-height: 20px;

  color: #ffffff;

  background: #f26c55;
  border-radius: 12px;

  text-decoration: none;

  padding: 18px 49px;
}
